<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Empréstimo de materiais</title>

    <link rel="stylesheet" href="estilos/reset.css">
    <link rel="stylesheet" href="estilos/style.css">
 

    <link href="https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/31e479d02a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.css">
    
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"></script>

  </head>

  <body>
    <header class="cabecalho">
        <div class="container">   
            <img src="img/teste1.png" alt="logo coltec">
            <nav class="cabecalho-nav">
            <a class="cabecalho-nav-link" href="/paginamateriais">Materiais</a>
            <a class="cabecalho-nav-link" href="/contato">Contato</a>
            </nav>
        </div>
    </header>

    {{{body}}}

   <footer class=rodape>
		<div class = rodape-inicial>
			<img src="img/coltec_logo2.png" alt="logo do coltec">
 			
 			<div class="rodape-icones">
 				<div class="icone">
	    			<i class="fab fa-instagram fa-3x insta"></i>
	    			<a href="https://www.instagram.com/ufmgcoltec/" target="blank_">@ufmgcoltec</a>
 				</div>
 				<div class="icone">
	 				<i class="fab fa-facebook-square fa-3x face"></i>
	 				<a href="https://www.facebook.com/ufmgcoltecoficial" target="blank_">Coltec-UFMG</a>	 	
 				</div>
 			</div>
		</div>

		<div class="rodape-final">
			<p class="rodape-final-paragrafo">&copy; 2020 Oficina de Produção Mecânica do COLTEC-UFMG</p>
			<p class="rodape-final-creditos">Desenvolvido por: Emanuelle Rodrigues de Sousa Silva, Tainara Marina Gonçalves Morais e Tatiane Vitória de Oliveira</p>
		</div>
	</footer>
</body>
</html>