 <header class="cabecalho" id="cabecalho">
    <div class="container">   
      <nav class="cabecalho-nav">
        <a id="cabecalho-nav-link" href="/contato">Contato</a>
        <img id="seta-direita" src = "./img/seta-direita.png" width="10" height="10"/>
        <a class="cabecalho-nav-link" id="Letra-home" href="/">Home</a>
      </nav>
    </div>
</header>  
        <form class= "form" action="https://api.staticforms.xyz/submit" method="POST">
            <input type="hidden" name="accessKey" value="53952fb0-9c57-4f25-a947-d9c9b0fb76e9">
            
            <div class="field2">
                <label for="name">Nome:</label>
                <input name="name" id = "name" placeholder="Digite seu nome" type= "text">
            </div>
            <br>
            <div class="field2">
                <label for="mail">E-mail:</label>
                <input name="email" id = "mail" placeholder="Digite seu E-mail" type= "email">
            </div>
            <br>
            <div class="field2">
                <label for="assunto">Assunto:</label>
                <input name="assunto" id = "assunto"  placeholder="Digite o assunto" type= "text">
            </div>
            <br>
            <div class="field2">
                <label for="msg">Mensagem:<br></label><br>
                <textarea ame="message" id = "msg"  placeholder="Digite sua mensagem" cols="50" rows="5"></textarea>
            </div>
            <br>
            <div id="botao">
                <button type="submit" name="botao" value="ENVIAR MENSAGEM" class="botaoEnviar">ENVIAR</button>
            </div>  
            <input type="hidden" name="redirectTo" value="http://www.coltec.ufmg.br/coltec-ufmg/">
        </form>

    